body {
  box-sizing: border-box;
}

header{
  background-color: white;
  z-index: 2;
}

.header{
position: fixed;
width: 100%;
background-color: white;
opacity:0.7;
  z-index: 3;
}


h1 {
  font-family: 'Permanent Marker',cursive, monospace;
  font-size: 50px;
  text-transform: uppercase;
  position: relative;
  color: rgb(140, 173, 218);
  text-decoration: underline;
  text-decoration-color: white;
  font-weight: bold;

  z-index: 4;
}

footer{
  height: 100px;
  width: 100%;
  text-align: center;
  padding-top: 80px;
  font-family: 'Overlock SC',cursive, monospace;
  font-size: 15px;
}


button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
cursor: pointer;


}
.styled{
  border: none;
color: rgb(154, 168, 218);
border-radius: 15%;
background-color: white;
opacity: 1;
font-family: 'Overlock SC',cursive, monospace;
font-size: 20px;
padding: 15px;
 cursor: pointer;
}
.styled:hover{
  text-decoration: underline;
  text-decoration-color: rgb(154, 168, 218);
}

.contact{
  border: 3px rgb(154, 168, 218) solid;
  background-color: white;
  opacity: 1;
  font-family: 'Overlock SC',cursive, monospace;
  color: rgb(154, 168, 218);
  font-size: 20px;
  padding: 15px;
cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns :1fr 4fr 8fr 1fr ;
  grid-template-rows: (9/1fr);
  grid-gap: 50px 20px;
}


.box {
  background-image: url("https://i.pinimg.com/originals/f0/18/9a/f0189aadee55bf1aaf7640eb07e79b58.jpg");
  background-position: center;
  background-color: white;
  color: black;
  border-radius: 0px;
  border: 15px white double;

}

.x{
  background-color: white;
  background-image: none;
  min-width: 30px;
}

.g {
  background-image: url("https://i.pinimg.com/originals/f1/db/43/f1db43c2cf2b3ca663ffc9ebca4c8425.jpg");
  background-position: center;
  background-color: white;
  border: none;
  height: 300px;
  background-size: cover;
    min-width: 300px;
}
.h {
  background-image: url("https://i.pinimg.com/originals/37/a2/b3/37a2b35302a59f4f4ec7248b3afd8968.jpg");
  background-position: center;
  background-color: white;
  border: none;
  height: 300px;
  background-size: cover;
    min-width: 300px;
}
.i {
  background-image: url("https://i.pinimg.com/originals/fb/69/0b/fb690b7012f0279ccc0f03e83b7c97bc.jpg");
  background-position: center;
  background-color: white;
  border: none;
  height: 300px;
  background-size: cover;
    min-width: 300px;
}

.j {
  background-image: url("https://i.pinimg.com/originals/e0/ca/5a/e0ca5aaa153b5cab26b17005450e84e2.jpg");
  background-position: center;
  background-color: white;
  border: none;
  height: 300px;
  background-size: cover;
    min-width: 300px;
}

.k {
  background-image: url("https://i.pinimg.com/originals/ec/d7/ff/ecd7ff9bb2bab200e0b792b7200eb573.jpg");
  background-position: center;
  background-color: white;
  border: none;
  height: 300px;
  background-size: cover;
    min-width: 300px;
}

.l {
  background-image: url("https://i.pinimg.com/originals/8e/f3/ad/8ef3ad014ffe16cdab3385a7337d002e.jpg");
  background-position: center;
  background-color: white;
  border: none;
  height: 300px;
  background-size: cover;
    min-width: 300px;
}

.g1 {
  background-image: url("https://i.pinimg.com/originals/3e/50/d5/3e50d59d2d102c0c8c8065bc2cc04a1b.png");
  background-position: center;
  background-color: white;
  border: none;
  height: 300px;
  background-size: cover;
    min-width: 300px;
}
.h1 {
  background-image: url("https://i.pinimg.com/originals/1e/1c/c3/1e1cc3d2708eb2c8dcd188737feedf7a.jpg");
  background-position: center;
  background-color: white;
  border: none;
  height: 300px;
  background-size: cover;
    min-width: 300px;
}
.i1 {
  background-image: url("https://i.pinimg.com/originals/00/69/ac/0069ac0bd0de0fe68ba6081bc11ae493.png");
  background-position: center;
  background-color: white;
  border: none;
  height: 300px;
  background-size: cover;
    min-width: 300px;
}

/**First GRID + Title**/
.zbox{
  display: flex;
align-items: center;
justify-content: center;
  justify-content: center;
  font-family: 'Overlock SC';
  font-size: 38px;
  background-color: white;
  height: 300px;
  color: rgb(140, 173, 218);
  text-align: center;
  text-decoration: underline;
  text-decoration-color: white;
}
