


body {
  box-sizing: border-box;
}

header{
  background-color: white;
  min-width: 1800px;
  max-height: 420px;
  background-position: center;
  height: 300px;
}

.header{
position: fixed;
min-width: 1800px;
background-color: white;
opacity:0.7;
  clear:both;
}


h1 {
  position: relative;
  left: 370px;
  color: rgb(140, 173, 218);
  text-transform: uppercase;
  clear:both;
  font-family: arial, sans-serif;
  text-decoration: underline;
  text-decoration-color: white;
}

footer{
  height: 100px;
  width: 100%;
  text-align: center;
  padding-top: 80px;
  font-family: 'Overlock SC',cursive, monospace;
  font-size: 15px;
}

table {
  padding-top: 0px;
  margin-left: 30px;
position: fixed;
border-spacing: 15px;
}


td {
  height: 40px;
  color: rgb(154, 168, 218);
/**border-bottom-style: solid;
border-right-style: solid;
border-radius: 15%;**/
font-family: 'Overlock SC',cursive, monospace;
font-size: 20px;
padding: 5px;
}


button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;



}
.styled{
  border: none;
color: rgb(154, 168, 218);
border-radius: 15%;
background-color: white;
opacity: 0.8;
font-family: 'Overlock SC',cursive, monospace;
font-size: 20px;
padding: 15px;
 }


.contact{
  border: 3px rgb(154, 168, 218) solid;
  background-color: white;
  opacity: 0.8;
  font-family: 'Overlock SC',cursive, monospace;
  color: rgb(154, 168, 218);
  font-size: 20px;
  padding: 15px;

}

.grid {
  display: grid;
  grid-template-columns :1fr 2fr ;
  grid-template-rows: (9/1fr);
  margin-left: 300px;
  margin-right: 300px;
  grid-gap: 50px 20px;
}


.box {
  background-image: url("https://i.pinimg.com/originals/f0/18/9a/f0189aadee55bf1aaf7640eb07e79b58.jpg");
  background-position: center;
  background-color: white;
  color: black;
  border-radius: 0px;
  border: 15px white double;
}

.g {
  background-image: url("https://i.pinimg.com/originals/f1/db/43/f1db43c2cf2b3ca663ffc9ebca4c8425.jpg");
  background-position: center;
  background-color: white;
  border: none;
  height: 300px;
  background-size: cover;
}
.h {
  background-image: url("https://i.pinimg.com/originals/37/a2/b3/37a2b35302a59f4f4ec7248b3afd8968.jpg");
  background-position: center;
  background-color: white;
  border: none;
  height: 300px;
  background-size: cover;
}
.i {
  background-image: url("https://i.pinimg.com/originals/fb/69/0b/fb690b7012f0279ccc0f03e83b7c97bc.jpg");
  background-position: center;
  background-color: white;
  border: none;
  height: 300px;
  background-size: cover;
}

.j {
  background-image: url("https://i.pinimg.com/originals/f3/54/c9/f354c915aac3d19d667dc3ddb9c54ca1.jpg");
  background-position: center;
  background-color: white;
  border: none;
  height: 300px;
  background-size: cover;
}

.k {
  background-image: url("https://i.pinimg.com/originals/da/0a/0e/da0a0e6dcc9115baf6244f254291a6a5.jpg");
  background-position: center;
  background-color: white;
  border: none;
  height: 300px;
  background-size: cover;
}

.l {
  background-image: url("https://i.pinimg.com/originals/8e/f3/ad/8ef3ad014ffe16cdab3385a7337d002e.jpg");
  background-position: center;
  background-color: white;
  border: none;
  height: 300px;
  background-size: cover;
}

.g1 {
  background-image: url("https://i.pinimg.com/originals/3e/50/d5/3e50d59d2d102c0c8c8065bc2cc04a1b.png");
  background-position: center;
  background-color: white;
  border: none;
  height: 300px;
  background-size: cover;
}
.h1 {
  background-image: url("https://i.pinimg.com/originals/1e/1c/c3/1e1cc3d2708eb2c8dcd188737feedf7a.jpg");
  background-position: center;
  background-color: white;
  border: none;
  height: 300px;
  background-size: cover;
}
.i1 {
  background-image: url("https://i.pinimg.com/originals/00/69/ac/0069ac0bd0de0fe68ba6081bc11ae493.png");
  background-position: center;
  background-color: white;
  border: none;
  height: 300px;
  background-size: cover;
}

/**First GRID + Title**/
.zbox{
  display: flex;
align-items: center;
justify-content: center;
  justify-content: center;
  font-family: 'Permanent Marker', serif;
  font-size: 38px;
  background-color: white;
  height: 300px;
  color: rgb(140, 173, 218);
  text-align: center;
  text-decoration: underline;
  text-decoration-color: white;}
